body{
    background-color: rgb(57, 11, 57);
}

.container{
    display: flex;
    flex-direction: row;
    margin-left:450px;
    margin-top: 250px;
    border-radius: 15px;
}

.box{
    width:450px;
    height:320px;
    background-color: rgb(125, 50, 125);
}

img{
    width:450px;
    height:320px;
    filter: grayscale(100%) brightness(0.5) sepia(100%) hue-rotate(270deg);
}


.title{
    margin-left:15px;
    margin-top:30px;
    font-size: 21px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 29px;
}
.title2{
    margin-left:14px;
    margin-top:50px;
    font-size:16.5px;
    color:white;
    font-weight: 750;
    line-height: 1.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.semi-box{
    display: flex;
    flex-direction: row;
    padding-top:20px;
    justify-content:start;
    margin-top:15px;
}
.first{
    padding-left: 15px;
    padding-right: 45px;
}
.second{
    padding-left: 15px;
    padding-right: 45px;
}
.third{
    padding-left: 15px;
    padding-right: 45px;
}